 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2160px;
}

.u-section-1 .u-group-1 {
  width: 550px;
  min-height: 164px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 234px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 0 25px;
}

.u-section-1 .u-group-2 {
  width: 554px;
  min-height: 205px;
  background-image: none;
  margin: 37px auto 0 -53px;
}

.u-section-1 .u-container-layout-2 {
  padding: 7px 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-1 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: -269px -31px 0 auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-1 .u-group-3 {
  width: 554px;
  min-height: 145px;
  background-image: none;
  margin: -74px auto 0 -53px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-1 .u-group-4 {
  width: 731px;
  min-height: 224px;
  background-image: none;
  margin: 47px 185px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 19px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 11px;
}

.u-section-1 .u-group-5 {
  width: 679px;
  min-height: 65px;
  background-image: none;
  margin: 71px 197px 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 10px 30px 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -32px -40px 0 19px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 607px;
  margin: 61px 93px 60px 160px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-4 {
    font-weight: normal;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
    margin-left: 53px;
    width: 887px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-4 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-group-5 {
    margin-right: 41px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2104px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-video-1 {
    height: 304px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: -18px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-4 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-5 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 67px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1991px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-video-1 {
    height: 191px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    margin-top: 95px;
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1727px;
}

.u-section-2 .u-group-1 {
  width: 779px;
  min-height: 340px;
  margin: 39px 146px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 22px 10px 20px;
}

.u-section-2 .u-text-1 {
  margin: 10px 0 0;
}

.u-section-2 .u-group-2 {
  width: 679px;
  min-height: 63px;
  background-image: none;
  margin: 84px 202px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 10px 30px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -32px -40px 0 19px;
}

.u-section-2 .u-group-3 {
  width: 609px;
  min-height: 412px;
  margin: 70px 227px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 0;
}

.u-section-2 .u-text-4 {
  margin: 14px 0 0;
}

.u-section-2 .u-custom-html-1 {
  min-height: 607px;
  margin: 30px 40px 60px 117px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 22px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    margin-right: 41px;
  }

  .u-section-2 .u-group-3 {
    margin-right: 111px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-group-2 {
    width: 540px;
    margin-top: 852px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 67px;
  }

  .u-section-2 .u-group-3 {
    width: 540px;
    margin-top: -1053px;
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
  }

  .u-section-2 .u-group-3 {
    width: 340px;
    margin-top: -1091px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: -95px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1304px;
}

.u-section-3 .u-group-1 {
  width: 859px;
  min-height: 63px;
  background-image: none;
  margin: 22px auto 0 124px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 10px 30px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -32px -40px 0 19px;
}

.u-section-3 .u-group-2 {
  width: 649px;
  min-height: 352px;
  margin: 91px 226px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin: 17px 15px 0;
}

.u-section-3 .u-custom-html-1 {
  min-height: 607px;
  margin: 131px 0 39px 5px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    margin-left: 81px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 22px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-custom-html-1 {
    height: auto;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-2 {
    margin-right: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 67px;
  }

  .u-section-3 .u-group-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 4px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1060px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1133px;
}

.u-section-4 .u-group-1 {
  width: 733px;
  min-height: 86px;
  background-image: none;
  margin: 61px 177px 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 10px 30px 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -32px -40px 0 19px;
}

.u-section-4 .u-custom-html-1 {
  min-height: 607px;
  margin: 54px 100px 0 153px;
}

.u-section-4 .u-group-2 {
  width: 609px;
  min-height: 215px;
  margin: 30px auto 0 -49px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 0;
}

.u-section-4 .u-text-3 {
  margin: 17px 7px 0 0;
}

.u-section-4 .u-group-3 {
  width: 609px;
  min-height: 215px;
  margin: -215px -59px 60px auto;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-4 .u-text-4 {
  margin: 0 19px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
    margin-left: 53px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 22px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 22px;
    padding-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-custom-html-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 67px;
  }

  .u-section-4 .u-group-2 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-group-3 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-group-2 {
    width: 340px;
  }

  .u-section-4 .u-group-3 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 783px;
}

.u-section-5 .u-group-1 {
  width: 796px;
  min-height: 86px;
  background-image: none;
  margin: 24px 140px 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 10px 30px 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -32px -40px 0 19px;
}

.u-section-5 .u-custom-html-1 {
  margin-bottom: 7px;
  min-height: 607px;
  margin-top: 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-custom-html-1 {
    height: auto;
    margin-top: 179px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 67px;
  }

  .u-section-5 .u-custom-html-1 {
    margin-top: 141px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-custom-html-1 {
    margin-top: 65px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 264px;
}

.u-section-6 .u-group-1 {
  width: 812px;
  min-height: 215px;
  margin: 0 139px 40px auto;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-6 .u-text-1 {
  margin: 0 19px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    margin-right: 128px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 22px;
    padding-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 783px;
}

.u-section-7 .u-group-1 {
  width: 429px;
  min-height: 122px;
  background-image: none;
  margin: 26px 332px 0 auto;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 10px 30px 0;
}

.u-section-7 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -34px -37px 0 16px;
}

.u-section-7 .u-group-2 {
  width: 896px;
  min-height: 352px;
  margin: 55px 99px 60px auto;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 23px;
}

.u-section-7 .u-text-3 {
  margin: 7px 19px -7px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    margin-top: 560px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-group-2 {
    margin-top: -392px;
    margin-right: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    margin-top: 592px;
    margin-right: 291px;
  }

  .u-section-7 .u-group-2 {
    width: 720px;
    margin-top: -424px;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    margin-top: 656px;
    margin-right: 111px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 67px;
  }

  .u-section-7 .u-group-2 {
    width: 540px;
    margin-top: -526px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: 340px;
    margin-top: 848px;
    margin-right: 0;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-group-2 {
    width: 340px;
    margin-top: -794px;
  }
}